
.DS_Store
.DS_Store


build/
.DS_Store
Music_Player_327/.DS_Store
Music_Player_327/src/.DS_Store
.DS_Store
Music_Player_327/.DS_Store
Music_Player_327/src/.DS_Store
.DS_Store
.DS_Store

.DS_Store
Music_Player_327/nbproject/private/private.xml
Music_Player_327/nbproject/project.properties
Music_Player_327/src/.DS_Store
Music_Player_327/nbproject/private/private.xml
Music_Player_327/nbproject/project.properties
Music_Player_327/src/.DS_Store
Music_Player_327/dist/Music_Player_327.html
Music_Player_327/dist/Music_Player_327.jar
Music_Player_327/dist/Music_Player_327.jnlp
Music_Player_327/build/classes/controllers/LoginController.class
Music_Player_327/build/classes/controllers/HomeUIController.class
Music_Player_327/src/view/HomeUI.fxml
Music_Player_327/build/classes/controllers/CreateController$1.class
Music_Player_327/build/classes/controllers/CreateController.class
Music_Player_327/build/classes/controllers/HomeUIController$1$1.class
Music_Player_327/build/classes/controllers/HomeUIController$1.class
Music_Player_327/build/classes/controllers/HomeUIController$10.class
Music_Player_327/build/classes/controllers/HomeUIController$11.class
Music_Player_327/build/classes/controllers/HomeUIController$12.class
Music_Player_327/build/classes/controllers/HomeUIController$2$1.class
Music_Player_327/build/classes/controllers/HomeUIController$2.class
Music_Player_327/build/classes/controllers/HomeUIController$3$1.class
Music_Player_327/build/classes/controllers/HomeUIController$3.class
Music_Player_327/build/classes/controllers/HomeUIController$4.class
Music_Player_327/build/classes/controllers/HomeUIController$5$1.class
Music_Player_327/build/classes/controllers/HomeUIController$5.class
Music_Player_327/build/classes/controllers/HomeUIController$6$1.class
Music_Player_327/build/classes/controllers/HomeUIController$6.class
Music_Player_327/build/classes/controllers/HomeUIController$7.class
Music_Player_327/build/classes/controllers/HomeUIController$8.class
Music_Player_327/build/classes/controllers/HomeUIController$9.class
Music_Player_327/build/classes/controllers/HomeUIController.class
Music_Player_327/build/classes/controllers/LoginController$1.class
Music_Player_327/build/classes/controllers/LoginController.class
Music_Player_327/build/classes/css/constraints.css
Music_Player_327/build/classes/css/ScrollBar.css
Music_Player_327/build/classes/css/ScrollPane.css
Music_Player_327/build/classes/css/ScrollPanes.css
Music_Player_327/build/classes/css/styles.css
Music_Player_327/build/classes/css/TableView.css
Music_Player_327/build/classes/files/imperial.mp3
Music_Player_327/build/classes/files/music.json
Music_Player_327/build/classes/files/newjson.json
Music_Player_327/build/classes/files/users.json
Music_Player_327/build/classes/images/avatar-default-circle.png
Music_Player_327/build/classes/images/default-user-avatar.png
Music_Player_327/build/classes/images/imperialMarch.jpg
Music_Player_327/build/classes/images/jamakassi-wejxKZ-9IZg-unsplash.jpg
Music_Player_327/build/classes/images/malte-wingen-PDX_a_82obo-unsplash.jpg
Music_Player_327/build/classes/images/unknown.png
Music_Player_327/build/classes/imperial.mp3
Music_Player_327/build/classes/Main/CECS327InputStream.class
Music_Player_327/build/classes/Main/Main.class
Music_Player_327/build/classes/Main/MusicPlayer$1.class
Music_Player_327/build/classes/Main/MusicPlayer.class
Music_Player_327/build/classes/Main/Playlist$playlistSongs.class
Music_Player_327/build/classes/Main/Playlist.class
Music_Player_327/build/classes/Main/User.class
Music_Player_327/build/classes/model/Album.class
Music_Player_327/build/classes/model/Artist.class
Music_Player_327/build/classes/model/Music.class
Music_Player_327/build/classes/model/Something$Artists.class
Music_Player_327/build/classes/model/Something$Releases.class
Music_Player_327/build/classes/model/Something.class
Music_Player_327/build/classes/model/Song.class
Music_Player_327/build/classes/model/Songs.class
Music_Player_327/build/classes/music_player_327/FXMLDocumentController.class
Music_Player_327/build/classes/music_player_327/Music_Player_327.class

Music_Player_327/dist/run458029991/lib/controlsfx-8.40.15.jar
Music_Player_327/dist/run458029991/lib/fontawesomefx-commons-8.15.jar
Music_Player_327/dist/run458029991/lib/fontawesomefx-fontawesome-4.7.0-5.jar
Music_Player_327/dist/run458029991/lib/gson-2.8.5.jar
Music_Player_327/dist/run458029991/lib/jfoenix-8.0.8.jar
Music_Player_327/dist/run458029991/lib/jl1.0.1.jar
Music_Player_327/dist/run458029991/Music_Player_327.html
Music_Player_327/dist/run458029991/Music_Player_327.jar
Music_Player_327/dist/run458029991/Music_Player_327.jnlp
Music_Player_327/dist/run458029991/web-files/dtjava.js
Music_Player_327/dist/run458029991/web-files/error.png
Music_Player_327/dist/run458029991/web-files/get_java.png
Music_Player_327/dist/run458029991/web-files/get_javafx.png
Music_Player_327/dist/run458029991/web-files/javafx-chrome.png
Music_Player_327/dist/run458029991/web-files/javafx-loading-100x100.gif
Music_Player_327/dist/run458029991/web-files/javafx-loading-25x25.gif
Music_Player_327/dist/run458029991/web-files/upgrade_java.png
Music_Player_327/dist/run458029991/web-files/upgrade_javafx.png

Music_Player_327/build/

*.class
*.xml
*.jar
Music_Player_327/build/classes/view/HomeUI.fxml
Music_Player_327/dist/Music_Player_327.html
Music_Player_327/dist/Music_Player_327.jnlp
Music_Player_327/dist/run147587349/Music_Player_327.html
Music_Player_327/dist/run147587349/Music_Player_327.jnlp
Music_Player_327/dist/run147587349/web-files/dtjava.js
Music_Player_327/dist/run147587349/web-files/error.png
Music_Player_327/dist/run147587349/web-files/get_java.png
Music_Player_327/dist/run147587349/web-files/get_javafx.png
Music_Player_327/dist/run147587349/web-files/javafx-chrome.png
Music_Player_327/dist/run147587349/web-files/javafx-loading-100x100.gif
Music_Player_327/dist/run147587349/web-files/javafx-loading-25x25.gif
Music_Player_327/dist/run147587349/web-files/upgrade_java.png
Music_Player_327/dist/run147587349/web-files/upgrade_javafx.png
Music_Player_327/dist/web-files/dtjava.js
Music_Player_327/dist/web-files/error.png
Music_Player_327/dist/web-files/get_java.png
Music_Player_327/dist/web-files/get_javafx.png
Music_Player_327/dist/web-files/javafx-chrome.png
Music_Player_327/dist/web-files/javafx-loading-100x100.gif
Music_Player_327/dist/web-files/javafx-loading-25x25.gif
Music_Player_327/dist/web-files/upgrade_java.png
Music_Player_327/dist/web-files/upgrade_javafx.png
Music_Player_327/dist/Music_Player_327.html
Music_Player_327/dist/Music_Player_327.jnlp
Music_Player_327/nbproject/configs/Run_as_WebStart.properties
Music_Player_327/nbproject/configs/Run_in_Browser.properties
Music_Player_327/nbproject/genfiles.properties
Music_Player_327/nbproject/private/configs/Run_as_WebStart.properties
Music_Player_327/nbproject/private/configs/Run_in_Browser.properties
Music_Player_327/nbproject/private/private.properties
Music_Player_327/nbproject/private/private.xml
Music_Player_327/nbproject/project.properties
Music_Player_327/src/.DS_Store
/dist/
/nbproject/private/