.margin-10 {
-fx-margin:10px;
}

.margin-top-10 {
-fx-margin:10px 0;
}
.margin-left-10 {
-fx-margin:0 0 0 10px;
}
.margin-right-10 {
-fx-margin:0 10px 0 0;
}

.margin-top-5 {
-fx-margin:5px 0;
}
.margin-left50 {
-fx-margin:0 0 0 5px;
}
.margin-right-5 {
-fx-margin:0 5px 0 0;
}
.padding-10 {
	-fx-padding:10px;
}

.round {
	-fx-background-radius:100;
}

.border-round {
	-fx-border-radius:100;
}

.align-center {
	-fx-alignment:center;
}