.table-view{
    -fx-base: #ffffff;
    -fx-control-inner-background: #ffffff;
    -fx-background-color:transparent;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 1;
    -fx-selection-bar-non-focused: #ffffff ;   
}

.table-view .column-header-background{
    -fx-background-color: #ffffff;
    -fx-border-color: transparent transparent rgba(192,192,192,0.3) transparent;
    -fx-border-width: 2;
    -fx-background-insets: 0;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
    -fx-size: 25;
    -fx-border-width: 0 0 0 0;
    -fx-text-fill: #d8d8d8;
}
.table-view .column-header .label {
    -fx-font-size: 13px;
    -fx-font-weight:bold;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #000000;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-cell {
    -fx-border-width: 5;
    -fx-font-size: 14px;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #000000;
    -fx-alignment: center-left;
    -fx-text-alignment: left
}



.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #ededed;
    -fx-alignment: center;
    -fx-text-alignment: center;

    
    
}